.taskList {
    min-height: 40px;
    border-top: 2px solid #ddd;
}

.tasks {
    padding: 0 20px 20px 20px;
    list-style-type: none;
}

.task {
    display: grid;
    grid-template-columns: 35px 1fr 35px;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.task__content {
    display: grid;
    align-items: center;
    margin: 0 10px;
}

.task__button {
    padding: 8px 5px;
	background-color: rgb(0, 131, 0);
	border: none;
	color: #fff;
	cursor: pointer;
	transition: background-color 0.5s;
}

.task__button:hover {
    transition: 0.5s;
    background-color: rgb(28, 161, 26);
}

.task__button:active {
    border: 1px outset black;
    transition: none;
}

.task__button--remove {
    background-color: rgb(255, 52, 79);
    cursor: pointer;
}

.task__button--remove:hover {
    background-color: rgb(255, 52, 110);
}

.taskDone {
    text-decoration: line-through;
}

.tasks__itemHidden {
    display: none;
}